.btn-yellow {
  color: #fff; 
  background-color: #FF7300;
  border-color: #4cae4c;
}
.btn-yellow:focus,
.btn-yellow.focus {
  color: #fff;
  background-color: #449d44;
  border-color: #255625;
}
.btn-yellow:hover {
  color: #fff;
  background-color: #449d44;
  border-color: #398439;
}
.btn-yellow:active,
.btn-yellow.active,
.open > .dropdown-toggle.btn-yellow {
  color: #fff;
  background-color: #449d44;
  border-color: #398439;
}
.btn-yellow:active:hover,
.btn-yellow.active:hover,
.open > .dropdown-toggle.btn-yellow:hover,
.btn-yellow:active:focus,
.btn-yellow.active:focus,
.open > .dropdown-toggle.btn-yellow:focus,
.btn-yellow:active.focus,
.btn-yellow.active.focus,
.open > .dropdown-toggle.btn-yellow.focus {
  color: #fff;
  background-color: #398439;
  border-color: #255625;
}
.btn-yellow:active,
.btn-yellow.active,
.open > .dropdown-toggle.btn-yellow {
  background-image: none;
}
.btn-yellow.disabled:hover,
.btn-yellow[disabled]:hover,
fieldset[disabled] .btn-yellow:hover,
.btn-yellow.disabled:focus,
.btn-yellow[disabled]:focus,
fieldset[disabled] .btn-yellow:focus,
.btn-yellow.disabled.focus,
.btn-yellow[disabled].focus,
fieldset[disabled] .btn-yellow.focus {
  background-color: #FF7300;
  border-color: #4cae4c;
}
.btn-yellow .badge {
  color: #FF7300;
  background-color: #fff;
}